SECRET_KEY=<hash key string>
DEBUG=<boolean>
DATABASE_URL=<database Url string>

EMAIL_HOST=<email host config string>
EMAIL_PORT=<email port config integer>
EMAIL_HOST_PASSWORD=<email password config string>
EMAIL_HOST_USER=<email user config string>
EMAIL_USE_TLS=<email tls config boolean>
